---
import config from "../config";

interface Props {
  title?: string;
  description?: string;
}

const title = Astro.props.title ? `${Astro.props.title} : ${config.site.title}` : config.site.title;
const description = Astro.props.description ?? config.site.description;
const canonicalUrl = new URL(Astro.url.pathname, config.site.url).href;
const ogImageUrl = new URL(`/${config.site.ogImage}`, config.site.url).href;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="generator" content={Astro.generator} />
<title>{title}</title>
<meta name="description" content={description} />
<link rel="canonical" href={canonicalUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:type" content="website" />
<meta property="og:url" content={canonicalUrl} />
<meta property="og:image" content={ogImageUrl} />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:image" content={ogImageUrl} />
<link rel="icon" href={`/${config.site.favicon}`} />
<link
  rel="alternate"
  type="application/rss+xml"
  title={`${config.site.title} RSS`}
  href="/rss.xml"
/>
